{% load i18n %}{% autoescape off %}
	{% blocktranslate %}Recibiste este email para reestablecer tu password {{ site_name }}.{% endblocktranslate %}
	
	{% translate "Ve a al siguiente enlace para cambiar tu password:" %}
	{% block reset_link %}
	{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
	{% endblock %}
	{% translate 'Tu username, en caso lo has olvidado:' %} {{ user.get_username }}
	
	{% translate "Gracias por usar nuestro sitio web!" %}
	
	{% blocktranslate %}El {{ site_name }} equipo{% endblocktranslate %}
	
	{% endautoescape %}