{% extends "ProyectoFinal2App/base.html" %}
{%load static%}
{%block content%}

{% if validlink %}

<div><p>Nuevo password</p>

<form enctype = "multipart/from-data" method="POST">
    {% csrf_token %}

    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nuevo password: </label>
    {{form.new_password1}}

    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirmar nuevo password: </label>{{ form.new_password2 }}
    <input type="submit" value="Cambiar mi password">
</form>

{%else%}

<h1 class="text-center">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}

</div>

{% endblock %}