{% extends "ProyectoFinal2App/base.html" %}
{% load crispy_forms_tags %}
{%load static%}

{%block content%}
  

<div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField">

        <form method="POST" action="" class="mt-2" autocomplete="off" enctype="multipart/form-data">
            
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            <button type="submit" class="btn btn-success">Guardar cambios</button>
        </form>

</div>


{% endblock %}